<div class="character-dialogue character-1">
  <div class="profile-picture">
    <img src="{{ character1_picture }}">
  </div>
  <div class="character-info">
    <div class="character-name">{{ character1_name }}</div>
    <div class="message">{{{ character1_dialogue }}}</div>
  </div>
</div>

<div class="character-dialogue character-2">
  <div class="profile-picture">
    <img src="{{ character2_picture }}">
  </div>
  <div class="character-info">
    <div class="character-name">{{ character2_name }}</div>
    <div class="message">{{{ character2_dialogue }}}</div>
  </div>
</div>